.header {
  border-bottom: 1px solid var(--color-white-300);
}

.links {
  display: flex;
  gap: 60px;

  width: 620px;
  margin: auto;
  padding: 24px 0 24px 74.5px;

  justify-content: space-around;
}
.links a {
  color: var(--color-gray-300);
  font: 500 14px var(--font-geist-sans);
  line-height: 24px;
  text-decoration: none;
}
@media (max-width: 580px) {
  .links {
    width: auto;
    padding: 12px 36px;
    gap: none;
    justify-content: space-between;
  }
}

@media (max-width: 435px) {
  .links {
    width: auto;
    padding: 12px 30px;

    align-items: center;
    gap: 20px;
  }

  .links a {
    font-size: 10px;
  }
}

@media (max-width: 280px) {
  .links {
    width: auto;
    padding: 12px 15px;

    align-items: center;
    gap: 20px;
  }

  .links a {
    font-size: 10px;
  }
}
