.container {
  position: relative;
  padding: 0px 80px 0px 80px;
}
.iconLeft {
  position: relative;
  z-index: 4;
  left: -86px;
  background-color: transparent;
}

.iconRight {
  position: relative;
  z-index: 4;
  left: calc(110.3%);
  background-color: transparent;
}

@media (max-width: 797px) {
  .container {
    padding: 0px 70px 0 70px;
    max-width: 620px;
  }
  .iconLeft {
    left: -76px;
  }
  .iconRight {
    left: 534px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0px 60px 0 60px;
    max-width: 620px;
  }
  .iconLeft {
    left: -66px;
  }
  .iconRight {
    left: 544px;
  }
}
@media screen and (max-width: 652px) {
  .container {
    padding: 0px 50px 0 50px;
    max-width: 520px;
  }
  .iconLeft {
    left: -56px;
  }
  .iconRight {
    left: 454px;
  }
}
@media (max-width: 580px) {
  .container {
    padding: 0px 40px 0 40px;
    max-width: 500px;
  }
  .iconLeft {
    left: -46px;
  }
  .iconRight {
    left: 444px;
  }
}

@media (max-width: 531px) {
  .container {
    padding: 0px 40px 0 40px;
    max-width: 450px;
  }
  .iconLeft {
    left: -46px;
  }
  .iconRight {
    left: 394px;
  }
}
@media screen and (max-width: 481px) {
  .container {
    padding: 0px 30px 0 30px;
    max-width: 400px;
  }
  .iconLeft {
    left: -36px;
  }
  .iconRight {
    left: 354px;
  }
}

@media (max-width: 435px) {
  .container {
    padding: 0px 25px 0px 25px;
    max-width: 393px;
  }
  .iconLeft {
    left: -31px;
  }
  .iconRight {
    left: 352px;
  }
}

@media (max-width: 425px) {
  .container {
    padding: 0px 20px 0px 20px;
    max-width: 383px;
  }
  .iconLeft {
    left: -26px;
  }
  .iconRight {
    left: 347px;
  }
}

@media (max-width: 415px) {
  .container {
    padding: 0px 20px 0px 20px;
    max-width: 360px;
  }
  .iconLeft {
    left: -26px;
  }
  .iconRight {
    left: 324px;
  }
}

@media (max-width: 392px) {
  .container {
    padding: 0px 20px 0px 20px;
    max-width: 340px;
  }
  .iconLeft {
    left: -26px;
  }
  .iconRight {
    left: 304px;
  }
}

@media (max-width: 375px) {
 
  .iconLeft {
    left: calc(-8.7%);
  }
  .iconRight {
    left: calc(101.4%);
  }
}

@media (max-width: 369px) {
  .container {
    padding: 0px 20px 0px 20px;
  }
  .iconLeft {
    left: -26px;
  }
  .iconRight {
    left: calc(101.4%);
  }
}

@media screen and (max-width: 339px) {
  
  .iconRight {
    left: calc(101.5%);
  }
}
@media screen and (max-width: 329px) {
  
  .iconRight {
    left: calc(101.6%);
  }
}

@media screen and (max-width: 307px) {
  
  .iconRight {
    left: calc(101.7%);
  }
}
@media screen and (max-width: 263px) {
  
  .iconRight {
    left: calc(102%);
  }
}

