.container {
  position: relative;
  padding: 0px 80px 0px 80px;
}
.iconLeft {
  position: relative;
  z-index: 4;
  left: -86px;
  background-color: transparent;
}

.iconRight {
  position: relative;
  z-index: 4;
  left: 683.9px;
  background-color: transparent;
}
@media (max-width: 435px) {
  .container {
    padding: 0px 20px 0px 20px;
  }
  .iconRight {
    left: 357px;
  }
}
@media (max-width: 375px) {
  .container {
    padding: 0px 20px 0px 20px;
  }
  .iconLeft {
    left: -26px;
  }
  .iconRight {
    left: 307px;
  }
}

@media (max-width: 320px) {
  .container {
    padding: 0px 15px 0px 15px;
  }
  .iconLeft {
    left: -21px;
  }
  .iconRight {
    left: 257px;
  }
}
