.block {
  position: relative;
  width: 100%;
  min-width: 16px;

  border-right: 1px solid var(--color-white-300);
  border-left: 1px solid var(--color-white-300);
  border-bottom: 1px solid var(--color-white-300);

  flex: 1;
}
@media screen and (max-width: 375px) {
  .block {
    max-width: 16px;
  }
}
