:root {
  --color-white-100: rgba(255, 255, 255, 1);
  --color-white-300: rgba(238, 240, 243, 1);
  --color-white-400: rgba(226, 230, 237, 1);

  --color-gray-300: rgba(155, 163, 178, 1);
  --color-gray-400: rgba(91, 97, 110, 1);

  --color-black-800: rgba(3, 7, 18, 1);

  --color-green-100: rgba(12, 206, 12, 1);
  --color-green-800: rgba(113, 148, 113, 0.302);
}

html,
body,
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-synthesis-weight: none;
}

ul,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
}

p,
a {
  color: var(--color-gray-400);
  font: 400 14px var(--font-geist-sans);
  font-style: normal;
  line-height: 24px;
}

.logo {
  color: var(--color-black-800) !important;
  font-family: var(--font-geist-mono) !important;
  font-size: 20px !important;
  font-weight: 500 !important;
}

.colorGreen100 {
  color: var(--color-green-100) !important;
}
.colorGreen100:hover {
  color: rgb(12, 137, 12) !important;
  cursor: pointer;
}

.colorGray300 {
  color: var(--color-gray-300) !important;
}
.colorBlack800 {
  color: var(--color-black-800) !important;
}
