.Cta {
  display: flex;
}
.footer {
  width: 620px;
  margin: auto;

  padding-top: 80px;
  padding-bottom: 120px;

  display: flex;
  justify-content: space-between;
}
.links {
  width: 120px;

  display: flex;
  flex-direction: row;
  gap: 20px;
}
@media (max-width: 425px) {
  .footer {
    width: auto;

    padding: 60px 36px 100px 36px;

    flex-direction: column;
    gap: 20px;
  }
}
