.Cta {
  display: flex;
}
.footer {
  width: 620px;
  margin: auto;

  padding-top: 80px;
  padding-bottom: 120px;

  display: flex;
  justify-content: space-between;
}
.links {
  width: 120px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 620px) {
  .footer {
    width: 520px;
    margin: auto;
    padding: 60px 30px 100px 30px;
  }
}

@media screen and (max-width: 580px) {
  .footer {
    width: 420px;
    margin: auto;
    padding: 60px 0 100px 0;
  }
}
@media (max-width: 481px) {
  .footer {
    width: 375px;
    margin: auto;
    padding: 60px 0px 100px 0px;

    flex-direction: column;
    gap: 20px;
  }
}
@media (max-width: 435px) {
  .footer {
    width: auto;
    margin: auto;
    padding: 60px 30px 100px 30px;

    flex-direction: column;
    gap: 20px;
  }
}

@media screen and (max-width: 315px) {
  .footer {
    width: auto;
    margin: auto;
    padding: 60px 20px 100px 20px;

    flex-direction: column;
    gap: 20px;
  }
}
