.projectCardContainer {
  display: flex;
  gap: 20px;
  flex-direction: column;
  max-width: 620px;
}

.title {
  color: var(--color-black-800);
  font-weight: 600;
  font-size: 18px;
  font-family: var(--font-geist-sans);
  font-style: normal;
  line-height: normal;

  padding-bottom: 5px;
}

.links {
  display: flex;
  gap: 20px;
}

@media (max-width: 375px) {
  .projectCardContainer {
    max-width: 315px;
  }
}

@media (max-width: 320px) {
  .projectCardContainer {
    max-width: 300px;
  }
}
